
@{
    ViewBag.Title = "SellProducto";
    List<SelectListItem> clients = (List<SelectListItem>)ViewBag.clients;
    List<SelectListItem> prods = (List<SelectListItem>)ViewBag.prods;
}

<div class="container mx-auto text-center" style="width: 400px;">
    <h2>Venta de productos</h2>
</div>

<div class="container">
    <div class="row" style="width: 100%;">

        <div class="card m-1">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <label class="">Fecha:</label>
                        @*datetime*@
                        <input type="text" readonly class="form-control" id="Fecha" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                    </div>
                    <div class="col-md-4">
                        <label class="">Selecciona el cliente:</label>
                        @Html.DropDownList("DropdownClientes", clients, "Selecciona una opcion", new { @class = "form-select align-items-center", id = "Cliente" })
                        @*<select id="Cliente" class="form-select" aria-label="Cliente">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="card m-1">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <label class="">Selecciona el producto:</label>
                        @Html.DropDownList("DropdownProducto", prods, "Selecciona una opcion", new { @class = "form-select align-items-center", id = "Producto" })
                        @*<select id="Producto" class="form-select" aria-label="Cliente">
                          <option selected>Open this select menu</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>*@
                    </div>
                    <div class="col-md-4">
                        <label class="">Cantidad:</label>
                        <input id="Cantidad" type="number" pattern="^[1-9]\d*$" onkeypress="return soloNumeros(event);" class="form-control" style="Text-align:Center" min="1" step="1" value="">
                    </div>
                    <div class="m-2 text-center">
                        <input type="button" class="btn btn-primary" id="AddFila" onclick="AddFila()" value="Agregar" disabled />
                    </div>
                </div>
            </div>
        </div>


        <div class="card m-1">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="table-responsive">
                        <table id="mytable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Cliente</th>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Total unitario</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tablita">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card m-1">
            <div class="card-body">
                <div class="row justify-content-center">
                    @*<div class="col-sm-2 m-1">
                        <label class="col-form-label justify-content-end align-items-end">Total:</label>
                    </div>*@
                    <div class="col-sm-4 m-1">
                        @*Total compra: <span id="Total">0</span>*@
                        @*<input type="number" id="Total"  class="form-control" disabled>*@
                    </div>
                    <div class="col-sm-2 m-1">
                        <input type="button" class="btn btn-primary" onclick="ActProd()" data-bs-toggle="modal" data-bs-target="#staticBackdrop" value="Realizar compra"/>
                        @*<input type="submit" onclick="EnviarProd()" class="btn btn-success" value="Guardar compra" />*@
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Confirmar compra</h5>
                    </div>
                    <div class="modal-body">
                        Las compras confirman un total de: <span class="" id="valTotal">0</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" onclick="EnviarProd()" class="btn btn-success">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script>
        /**
         * Función que solo permite la entrada de numeros, un signo negativo y
         * un punto para separar los decimales
         */
        function soloNumeros(e) {
            // capturamos la tecla pulsada
            var teclaPulsada = window.event ? window.event.keyCode : e.which;

            // capturamos el contenido del input
            var valor = document.getElementById("Cantidad").value;

            // 45 = tecla simbolo menos (-)
            // Si el usuario pulsa la tecla menos, y no se ha pulsado anteriormente
            // Modificamos el contenido del mismo añadiendo el simbolo menos al
            // inicio
            if (teclaPulsada == 45 && valor.indexOf("-") == -1) {
                document.getElementById("Cantidad").value = "" + valor;
            }

            // 13 = tecla enter
            // 46 = tecla punto (.)
            // Si el usuario pulsa la tecla enter o el punto y no hay ningun otro
            // punto
            if (teclaPulsada == 13 || (teclaPulsada == 46 && valor.indexOf(".") == -1)) {
                return true;
            }

            // devolvemos true o false dependiendo de si es numerico o no
            return /\d/.test(String.fromCharCode(teclaPulsada));
        }
    </script>
    <script>
        let activador = document.getElementById("Cantidad")
        activador.addEventListener("mousemove", () => {
            if (activador.value > 0 && activador.value != '') {
                document.getElementById("AddFila").disabled = false
            } else {
                document.getElementById("AddFila").disabled = true
            }
        })
    </script>
    <script>


    </script>

    <script>
        let urlEP = "@Url.Content("~/Productos/ProductosPost")";
        function ActProd() {
            var data = [];
            $("td.TotalPrice").each(function () {
                data.push(parseFloat($(this).text()));
            });


            var suma = data.reduce(function (a, b) { return a + b; }, 0);

            console.log(data);
            console.log(suma);
            document.getElementById("valTotal").innerHTML = suma.toFixed(2);
            return suma;

        }

        /*var valorTotal = 0;*/

        function AddFila() {


            let fecha = document.getElementById("Fecha").value;

            //Obtenemos el valor del cliente
            let cliente = document.getElementById("Cliente");
            //Obtenemos el texto del dropdown
            let clienteText = cliente.options[cliente.selectedIndex].text;

            //Obtenemos el valor del producto
            let producto = document.getElementById("Producto");
            //Obtenemos el texto dentro del dropdown del producto
            let productoText = producto.options[producto.selectedIndex].text;
            //Obtenemos el precio del producto
            let precio = document.getElementById("Producto").value;

            let cantidad = document.getElementById("Cantidad").value;

            let SumSubtotal = precio * cantidad;

            var i = 1;
            let fila = '<tr id="row' + i + '"><td>' + fecha + '</td><td>' + clienteText + '</td><td>' + productoText + '</td><td>' + precio + '</td><td>' + cantidad + '</td><td class="TotalPrice">' + SumSubtotal + '</td><td><button type="button" name="remove" id="' + i + '" class="btn btn-danger btn_remove">Quitar</button></td></tr>';
            i++;
            $(document).on('click', '.btn_remove', function (event) {
                event.preventDefault();
                $(this).closest('tr').remove();

                /*document.getElementById("Total").innerText = "";*/
                //valorTotal = valorTotal - SumSubtotal;
                //document.getElementById("Total").innerText = valorTotal;
            //    if (valorTotal < 0) {
            //        valorTotal = 0
            //        document.getElementById("Total").innerText = valorTotal;
            //    } else {
            //        document.getElementById("Total").innerText = valorTotal;
            //    }
            });
            let btn = document.createElement("TR");
            btn.innerHTML = fila;
            document.getElementById("tablita").appendChild(btn);

            //valorTotal += SumSubtotal;
            //document.getElementById("Total").innerText = valorTotal;
        }

        function EnviarProd() {
            let filas = [];
            let Total = ActProd();
            console.log(Total);
            $('#mytable tbody tr').each(function () {
                //let Id_Reclamacion = document.getElementById('Id_rec').value;
                //let Numero_Pedido = document.getElementById('inputNumeroPedido').value;
                let fecha = $(this).find('td').eq(0).text();
                let cliente = $(this).find('td').eq(1).text();
                let producto = $(this).find('td').eq(2).text();
                let precio = $(this).find('td').eq(3).text();
                let cantidad = $(this).find('td').eq(4).text();

            /* let Importe_Total = document.getElementById('val').innerHTML;*/


            var fila = {
                fecha,
                cliente,
                producto,
                precio,
                cantidad,
                Total
            };

                filas.push(fila);

            });
            console.log(filas);
            //Se mandan los datos al controlador Productos
            fetch(urlEP, {
                method: "POST",
                headers: {
                    'Accept': "application/json",
                    'Content-Type': "application/json"
                },
                body: JSON.stringify(filas),
            }).then(function (response) {
                if (response.ok)
                    return response.json()
                else
                    alert("Error al ejecutar")
            }).then(function (Data) {
                if (Data != "1") {
                    Swal.fire({
                        title: 'Error',
                        text: Data,
                        icon: 'error',
                        confirmButtonText: 'Aceptar'
                    })
                    //if (Data != "1") {
                    //    alert(Data)
                    //}
                } else {
                    document.location.href = "@Url.Content("~/Productos/Index")"
                }
            }).catch(function (Data) {
                Swal.fire({
                    title: 'Error',
                    text: 'Existió un error',
                    icon: 'error',
                    confirmButtonText: 'Aceptar'
                })
                //alert('Debes de asignar el ID de reclamacion');
            });
        }

    </script>
}
